
.cadre_c{
	background-color: #B0EED3;
}

.first{
	width: 200px;
	text-align: center;
}

.Java-second{
	height: 150px;
}

.C-second{
	height: 100px;
}

.Python-second{
	height: 100px;
}

.C_second{
	height: 50px;
}
